# 1. Miscellaneous
*.class
*.log
*.pyc
*.swp
*.tmp # 임시 파일 무시
.DS_Store # macOS 시스템 파일
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# 2. IDE 관련 파일 무시

# 2-1. IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# 2-2. VS Code (협업 시 보통 무시)
.vscode/ # 주석 해제

# 3. Flutter / Dart / Pub 관련
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
pubspec.lock # 앱 프로젝트에서는 보통 무시

# 4. iOS 관련
ios/Pods/ # CocoaPods 디렉토리
ios/.symlinks/ # Flutter iOS 빌드시 생기는 심볼릭 링크
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/
ios/DerivedData/
ios/.generated/

# 5. Android 관련
android/.gradle/ # Gradle 캐시
android/.idea/ # Android Studio 설정
android/local.properties # 로컬 개발 설정 파일
android/build/
android/captures/
android/app/*.iml
/android/app/debug
/android/app/profile
/android/app/release

# 5. 빌드 / 디버깅 관련
app.*.symbols # Symbolication
app.*.map.json # Obfuscation

# 6. 환경 변수 파일
.env
.env.local
.env.production
.env.staging